@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
.banner{
    object-fit: cover;
    height: 250px;
}
.colorplanta{
   background-color:  #9bcc50 ;
   
}
.colorveneno{
   background-color:  #b97fc9;
}
.colorfuego{
   background-color:  #fd7d24;
}
.colorvolador{
   background-color:  #bdb9b8;
}

